table {
	margin-bottom: 25px;
}

caption {
	font-weight: bold;
	font-style: italic;
	text-align: left;
	padding-bottom: 10px;
}

/*TASK 1*/

.task1,
.task1 th,
.task1 td  {
	border: 1px solid black;
	border-collapse: collapse;
}

.task1 th, 
.task1 td:not(:first-child) {
	text-align: center;
}

.task1 th, .task1 td {
	padding: 5px;
}

/*TASK2*/
.task2 th,
.task2 td {
	padding: 10px 80px 10px 0;
	text-align: left;
}

.task2 {
	border-collapse: collapse;
	font-family: 'Arial Narrow', Arial, sans-serif;
}
.task2 th {
	border-bottom: 1px solid #ddd;
}

/*Task 3*/
.task3 th,
.task3 td {
	padding: 10px 80px 10px 0;
	text-align: left;
}

.task3 {
	border-collapse: collapse;
	font-family: 'Arial Narrow', Arial, sans-serif;
}
.task3 th,
.task3 td {
	border-bottom: 1px solid #ddd;
}

/*TASK 4*/
.basket {
	border-collapse: collapse;
	border: 2px solid #ddd;	
	box-shadow: 0 0 10px 3px #ddd;
	position: absolute;
	font-family: 'Arial Narrow', Arial, sans-serif;
	position: relative;
	margin-bottom: 20px;
}

.basket th, td {
	padding: 10px;
}

.basket th {
		text-align: left;
}

.basket tbody> tr:nth-child(n+3):nth-child(-n+6) {
	border-top: 1px solid #ddd;
}

.basket tr td:nth-child(n+8) {
	background-color: #fff;
	color: inherit;
	font-weight: inherit;

}

.basket .sum td:first-child {
	text-align: right;
}

.basket tfoot tr:last-child,
.arrow {
	text-align: center;
	color: #E7252C;
	font-weight: bold;
} 

.basket tr td:first-child {
	color: #E7252C;
}

.basket .total tr:first-of-type>td {
	font-weight: bold;
	color: #000;
}

.basket .no_sale td:nth-child(-n+2) {
	color: #858585;
}

/*BUTTON .CLOSE icon*/
.basket {
	position: relative;
}

.basket #close {
	border-radius: 100%;
	padding: 5px 5px;
	box-shadow: 0 0 5px black;
	z-index: 1;
    float: right;
}

.basket button {
	background-color: #E7242A;
	color: #fff;
	font-weight: bold;
	border: none;
}

.basket button:hover{
	background-color: #DE5F57;
}

.basket .sum td:nth-child(2){
  border-right: 3px solid rgba(216,216,216,0.3);
}
